<body bgcolor="#7fff00">
<center><h1>Experis Deal Calculator</h1>
  <p><em>Deal calculator for: TIAA, Wells, BofA, etc.</em></p>
  <p>Today is <%= Date::DAYNAMES[Date.today.wday] %> <%= Date.today %>.</p></center>
  <hr>
  <a href="http://ryans-ruby-machine-221906.use1.nitrousbox.com/pages/tiaa"> <img src="http://equitygreen.typepad.com/photos/uncategorized/2008/03/25/tiaa_cref_logo_2.jpg" height="100" width="100"></a>
  <hr>
  <a href="http://ryans-ruby-machine-221906.use1.nitrousbox.com/pages/wells"> <img src="http://www.logostage.com/logos/wells_fargo.png" height="100" width="100"></a>
  <hr>
  <a href="http://ryans-ruby-machine-221906.use1.nitrousbox.com/pages/bofa"> <img src="http://figville.files.wordpress.com/2010/10/bank-of-america.jpg" height="100" width="150"></a>

</body>